<%= render 'shared/error', obj: @user %>
<div class="row">

  <div class="col-xs-12 col-xs-offset-1">
    <%= form_for @user do |f| %>

     <fieldset class="form-group col-xs-10">
       <%= f.label :username %> 
       <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
     </fieldset>

     <fieldset class="form-group col-xs-10">
      <%= f.label :email %> 
      <%= f.email_field :email, class: "form-control", placeholder: "Enter Email ", autofocus: true %>
     </fieldset>

     <fieldset class="form-group col-xs-10">
      <%= f.label :password %> 
      <%= f.text_field :password, class: "form-control", placeholder: "Enter Password ", autofocus: true %>
     </fieldset>

     <fieldset class="form-group col-xs-10">
      <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-primary") %> <br><br>     
     </fieldset>

    <% end %>

  </div>
</div>